{% extends 'base.html' %}
{% load static %}

{% block title %}Регистрация {% endblock %}

{% block style %}
    {% include '_inc/styles_for_others.html' %}
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<div class="container mx-auto px-4 py-8 min-h-screen flex items-center justify-center">
    <div class="bg-gray-800 shadow-xl rounded-lg p-8 max-w-md w-full border-2 border-orange-500">
        <h1 class="text-3xl font-semibold text-center mb-6 text-orange-500">Регистрация</h1>
        <form method="post" class="space-y-4">
            {% csrf_token %}
            {% for field in form %}
            <div>
                {{ field.label_tag }}
                {{ field }}
                {% if field.errors %}
                <p class="text-red-500 text-sm mt-1">{{ field.errors.as_text }}</p>
                {% endif %}
            </div>
            {% endfor %}
            <div class="text-center">
                <button type="submit" class="w-full bg-orange-500 text-white px-6 py-3 rounded-lg hover:bg-orange-600 transition duration-300 font-semibold shadow-md hover:shadow-lg transform hover:-translate-y-1">
                    Зарегистрироваться
                </button>
            </div>
            <div class="text-center mt-4">
                <a href="{% url 'login_user' %}" class="text-orange-500 hover:text-orange-400 hover:underline transition duration-300 font-semibold text-lg">Авторизация</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}