{% extends 'base.html' %}
{% load static %}

{% block title %}Корзина{% endblock %}

{% block content %}
<div class="container mx-auto px-4 py-8 min-h-screen flex items-center justify-center">
    <div class="bg-gray-800 shadow-xl rounded-lg p-8 max-w-6xl w-full border-2 border-orange-500">
        <h1 class="text-3xl font-semibold text-center mb-4 text-orange-500">Ваша корзина</h1>
        {% if basket|length > 0 %}
        <div class="overflow-x-auto">
            <table class="w-full text-center text-gray-300">
                <thead class="bg-gray-900 text-white">
                <tr>
                    <th class="p-3">Изображение</th>
                    <th class="p-3">Товар</th>
                    <th class="p-3">Количество</th>
                    <th class="p-3">Цена за шт.</th>
                    <th class="p-3">Цена за позицию</th>
                    <th class="p-3">Действие</th>
                </tr>
                </thead>
                <tbody>
                {% for item in basket %}
                <tr class="border-t border-gray-700 hover:bg-gray-700 transition duration-200">
                    <td class="p-3">
                        {% if item.catalog.image %}
                            <img src="{{ item.catalog.image.url }}" alt="{{ item.catalog.product_name }}" class="w-24 h-24 object-contain rounded-lg mx-auto">
                        {% else %}
                            <span class="text-gray-400">Нет фото</span>
                        {% endif %}
                    </td>
                    <td class="p-3">
                        <a href="{% url 'catalog_detail' item.catalog.pk %}" class="text-orange-500 hover:text-orange-400 transition duration-200">
                            {{ item.catalog.product_name }}
                        </a>
                    </td>
                    <td class="p-3">{{ item.count }} шт.</td>
                    <td class="p-3">{{ item.product_price }} руб.</td>
                    <td class="p-3">{{ item.total_price }} руб.</td>
                    <td class="p-3">
                        <a href="{% url 'basket_remove' item.catalog.pk %}" class="bg-red-600 text-white px-4 py-2 w-32 inline-block rounded-lg hover:bg-red-700 transition duration-300 font-semibold shadow-md hover:shadow-lg transform hover:-translate-y-1">Убрать</a>
                    </td>
                </tr>
                {% endfor %}
                <tr class="border-t border-gray-700 bg-gray-900 text-white font-semibold">
                    <td class="p-3" colspan="2">Итого</td>
                    <td class="p-3">{{ basket|length }} шт.</td>
                    <td class="p-3" colspan="2">{{ total_price }} руб.</td>
                    <td class="p-3">
                        <a href="{% url 'basket_clear' %}" class="bg-red-600 text-white px-4 py-2 w-32 inline-block rounded-lg hover:bg-red-700 transition duration-300 font-semibold shadow-md hover:shadow-lg transform hover:-translate-y-1">Очистить</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div>
            <div class="text-center mt-4">
                <a href="{% url 'order_open' %}" class="w-full bg-orange-500 text-white px-4 py-6 rounded-lg hover:bg-orange-600 transition-colors duration-150 font-semibold shadow-md hover:shadow-lg transform hover:-translate-y-1 inline-block">Оформить заказ</a>
            </div>
        </div>
        {% else %}
            <p class="text-lg text-center text-gray-300">Ваша корзина пуста.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
