{% extends 'base.html' %}

{% block title %}Корзина{% endblock %}

{% block content %}
<h2>Товары в корзине</h2>
<div class="product-list">
    {% if cart_items %}
        {% for item in cart_items %}
            <div class="product-item">
                <h3>{{ item.product.product_name }}</h3>
                <p class="description">Цена за шт.: {{ item.price }} руб.</p>
                <p class="description">Количество: {{ item.quantity }}</p>
                <p class="price">Итого: {{ item.total_price|floatformat:2 }} руб.</p>
            </div>
        {% endfor %}
        <div style="text-align: right; font-weight: 800; font-size: 1.6rem; margin-top: 3rem; color: #007BFF; letter-spacing: 0.05em;">
            Общая сумма: {{ total_price|floatformat:2 }} руб.
        </div>
    {% else %}
        <p style="text-align: center; font-size: 1.2rem; color: #555; margin-top: 3rem;">Ваша корзина пуста.</p>
    {% endif %}
</div>
{% endblock %}