{% extends 'base.html' %}

{% block title %}{{ category_name }}{% endblock %}

{% block content %}
<h2>{{ category_name }}</h2>
<div class="product-list">
    {% if products %}
        {% for product in products %}
            <div class="product-item">
                <h3>{{ product.product_name }}</h3>
                <p class="description">{{ product.product_description|truncatechars:150|default:"Нет описания" }}</p>
                <p class="price">{{ product.product_price }} ₽</p>
                <a class="details-link" href="{% url 'product_detail' product.pk %}">Подробнее</a>
            </div>
        {% endfor %}
    {% else %}
        <p>Товары отсутствуют.</p>
    {% endif %}
</div>
{% endblock %}