{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
<h2>Главная страница</h2>
<div class="product-list">
    <p>Добро пожаловать на наш сайт! Здесь вы можете найти разнообразные товары, ознакомиться с категориями, добавить товары в корзину и оформить заказ.</p>
    <p>Используйте меню выше для навигации по сайту.</p>
    {% if promotions %}
        <h3>Текущие акции</h3>
        {% for promotion in promotions %}
            <div class="product-item">
                <h3>{{ promotion.title }}</h3>
                <p class="description">{{ promotion.description|truncatechars:150 }}</p>
                <p>С {{ promotion.start_date }} по {{ promotion.end_date }}</p>
                {% if promotion.image %}
                    <img src="{{ promotion.image.url }}" alt="{{ promotion.title }}" style="max-width: 200px;">
                {% endif %}
            </div>
        {% endfor %}
    {% else %}
        <p>Акции отсутствуют.</p>
    {% endif %}
</div>
{% endblock %}