{% extends 'base.html' %}

{% block title %}Детали пользователя{% endblock %}

{% block content %}
<h2>Детали пользователя</h2>
<div class="product-list">
    <p><strong>Логин:</strong> {{ user.user_login }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Телефон:</strong> {{ user.phone_number }}</p>
    <a href="{% url 'user_update' user.pk %}" class="btn btn-secondary">Редактировать</a>
    <a href="{% url 'user_delete' user.pk %}" class="btn btn-danger">Удалить</a>
    <a href="{% url 'user_list' %}" class="btn btn-primary">Назад</a>
</div>
{% endblock %}