{% extends 'base.html' %}

{% block title %}Список пользователей{% endblock %}

{% block content %}
<h2>Пользователи</h2>
<a href="{% url 'user_create' %}" class="btn btn-primary">Добавить пользователя</a>
<div class="product-list">
    <table class="table">
        <thead>
            <tr>
                <th>Логин</th>
                <th>Email</th>
                <th>Телефон</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.user_login }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.phone_number }}</td>
                    <td>
                        <a href="{% url 'user_detail' user.pk %}" class="btn btn-primary">Просмотр</a>
                        <a href="{% url 'user_update' user.pk %}" class="btn btn-secondary">Редактировать</a>
                        <a href="{% url 'user_delete' user.pk %}" class="btn btn-danger">Удалить</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4">Нет пользователей.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}